body{
    min-width: 300px;
    font-size: 14px;

    font-family: 'Inconsolata', monospace;
    color: #626262;

}

.title1{
    margin-top: 50px;
    color: #626262;
}

.title_article{
    color:#626262;
    margin-left: 20px;
    margin-top: 100px;
    width: 30%;

}
.text_article{
    color:#626262;
    margin-left: 20px;
    margin-top: 100px;
    width: 30%;

}
.group_article{
    display: flex;
    margin: 20px;

    margin-left: 100px;

}
.photo{
    width: 400px;
    height: 250px;
    margin-top: 100px;

}
.photo1{
    width: 50%;
    height: 450px;
    display: block;
    margin: auto;
}
.title_group{
    flex-direction: column;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}


footer{
    background-color: #f0f0f0;
    padding: 50px;
    color: #000;
    margin-bottom: 10px;

}
.footer-left a{
    color: #000;
    margin-right: 20px;
}
.footer-right a{
    color: #626262;
    margin-left: 20px;
}